<div>
  <mat-selection-list>
    <h1>Oceny:</h1>
    <mat-form-field class="full-width">
      <input
        type="text"
        [(ngModel)]="searchText"
        matInput
        placeholder="Search..."
      />
    </mat-form-field>
    <mat-list-item
      *ngFor="
        let product of (watchedProducts | search: searchText);
        let i = index
      "
    >
      <button routerLink="ratings/{{ watchedProducts[i].id }}" mat-button>
        {{ watchedProducts[i].name }}
      </button>
      <span class="fill-remaining-space"></span> Ocena:
      <span
        *ngIf="_ratings[i] && _ratings[i].productId == watchedProducts[i].id"
      >
        <h5>{{ _ratings[i].avarageRating }}</h5>
      </span>
    </mat-list-item>
  </mat-selection-list>
</div>
