<div>
  <div *ngIf='userInfo' fxLayout='row'>
    
    <button type="button" mat-button (click)='onProfileClick()'>
      <mat-icon>account_circle</mat-icon> {{ userInfo.name }} {{ userInfo.surname }}
    </button>

    <button type='button' mat-button (click)='onLogoutClick()'>
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>

  </div>
  <div *ngIf='!userInfo' fxLayout='row'>
    <div fxFlex>
      <button type='button' mat-button (click)='onLoginClick()'>
        <mat-icon>input</mat-icon>
        Login
      </button>
    </div>
    <div fxFlex>
      <button type='button' mat-button (click)='onRegisterClick()'>
        <mat-icon>how_to_reg</mat-icon>
        Register
      </button>
    </div>
  </div>
</div>
