<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex="100%">

    <mat-card fxFlex="50%">
      <app-watched-product-star [product]="product"></app-watched-product-star>

      <h2>Nazwa: {{ product.name | uppercase }}</h2>
      <h4>Barcode: {{ product.barcode }}</h4>
      <h4>Opis:</h4>
      <mat-card> {{ product.description }}</mat-card>
      <h4>ID Firmy: {{ product.companyId }}</h4>
      <h4>Kraj pochodzenia: {{ product.countryOfOrigin }}</h4>
      <h4>Data utworzenia: {{ product.creationDate }}</h4>
      <h4>
        Czas wygaśnięcia (w miesiącach):
        {{ product.defaultExpirationDateInMonths }}
      </h4>
      <h4>Sugerowana cena: {{ product.suggestedPrice }} zł</h4>
    </mat-card>

    <mat-card fxFlex="50%">
      <app-product-panel-ui
        [productComments]="product.productComments"
        (newCommentSubmitted)="onNewCommentSubmitted($event)"
        [averageRating]="averageRating"
        (selectedRatingSubmitted)="onSelectedRatingSubmitted($event)"
      ></app-product-panel-ui>
    </mat-card>
  </mat-card>
</div>
