<div *ngIf="product">
  <mat-card>
    <h2 >{{ product.name | uppercase }}</h2>

    <!-- <app-form [model]="product" [submit]="submitEmitter"></app-form> -->

    <app-form
    [model]="product"
    
    [submit]="submitEmitter"
  ></app-form>

    <button type="button" mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <button type="button" mat-button (click)="save()">
      <mat-icon> edit </mat-icon>
      Save
    </button>
  </mat-card>
</div>
