::ng-deep snack-bar-container.my-snackbar {
	background: tomato;
	display: block;
	min-height: 50px;
	min-width: 70px;
	margin-bottom: 300px;

	text-align: center;
  }
  
  ::ng-deep .my-snackbar .mat-simple-snackbar {
	color: white;
	font-size: 24px;
  }