<div *ngIf="product">
  <mat-card>
    <h2 >{{ product.name | uppercase }}</h2>

    <!-- <app-form [model]="product" [submit]="submitEmitter"></app-form> -->

    <app-form
    [model]="product"
    [modelState]="modelState"
    [submit]="submitEmitter">
    </app-form>

    <div fxLayout="row">
      <button type="button" mat-button fxFlex="33%" matTooltip="accept changes to product"
              (click)="onAcceptChangedClick()">
        <mat-icon> edit </mat-icon>
        Save
      </button>
      <button type="button" mat-button fxFlex="33%" matTooltip="add new existing product"
              (click)="onAddNewExistingProductClick()">
        <mat-icon> add_circle_outline </mat-icon>
        Add
      </button>
      <button type="button" mat-button fxFlex="33%" matTooltip="delete product"
              (click)="onDeleteProductClick()">
        <mat-icon> delete </mat-icon>
        Delete
      </button>
    </div>
  </mat-card>
</div>
