<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex="33%">
    <app-form [model]="newCompany" [submit]="submitEmitter"></app-form>
    <button type="button" mat-button (click)="onCompanyAddClick()">
      <mat-icon> add </mat-icon>
      Add
    </button>
  </mat-card>

  <mat-card fxFlex="33%">
    <mat-selection-list>
      <mat-list-item
        *ngFor="let company of companies"
        [class.selected]="company === selectedCompany"
        (click)="onSelect(company)"
      >
        <button mat-button>{{ company.name }}</button>
        <a routerLink="detail/{{ company.id }}">
          <mat-icon> link </mat-icon>
        </a>
        <span class="fill-remaining-space"></span>
        <button mat-button title="Delete company" (click)="delete(company)">
          <mat-icon> delete </mat-icon>
        </button>
      </mat-list-item>
    </mat-selection-list>
  </mat-card>

  <div fxFlex="33%">
    <app-company-detail [company]="selectedCompany"></app-company-detail>
  </div>
</div>
