<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex="33%">
    <input
      type="text"
      [(ngModel)]="searchText"
      matInput
      placeholder="Search..."
    />
  </mat-card>
  <mat-card fxFlex="33%">
    <mat-selection-list>
      <h1>Obserwowane produkty:</h1>
      <mat-list-item
        *ngFor="let product of (watchedProducts | search: searchText)"
        [class.selected]="product === selectedProduct"
        (click)="onSelect(product)"
      >
        <button mat-button>{{ product.name }}</button>
        <a routerLink="detail/{{ product.id }}">
          <mat-icon> link </mat-icon>
        </a>
        <span class="fill-remaining-space"></span>
        <mat-icon> delete </mat-icon>
      </mat-list-item>
    </mat-selection-list>
  </mat-card>
</div>
