<div fxLayout="row" fxLayoutAlign="center start">
  <mat-tab-group mat-align-tabs="center" fxFlex="100%">
    <mat-tab label="Watched Products">
      <mat-card fxFlex="100%">
        <app-my-products-watched
          [watchedProducts]="watchedProducts"
          [ratings]="ratings"
        ></app-my-products-watched>
      </mat-card>
    </mat-tab>
    <mat-tab label="Scans">
      <app-my-products-scans></app-my-products-scans>
    </mat-tab>
    <mat-tab label="Ratings">
      <mat-card fxFlex="100%">
        <app-my-products-ratings
          [userRatings]="userRatings"
          [ratedProducts]="ratedProducts"
        ></app-my-products-ratings>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
