<div>
  <h4>
    Średnia ocena produktu:
    {{ averageRating.avarageRating === undefined ? "Brak Ocen" : roundNumber(averageRating.avarageRating) }}
  </h4>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedRating">
      <mat-option>None</mat-option>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngIf="userRating.rating !== undefined">Twoja ocena: {{ userRating.rating }}</p>
  <p *ngIf="userRating.rating === undefined">Twoja ocena: brak</p>
  <button (click)="submitRate()" mat-raised-button>Submit</button>
</div>

<!-- [(value)]="selected" -->