<mat-toolbar id="toolbar" color="warn" class="mat-elevation-z8">
  <a mat-button>
    <mat-icon>fastfood</mat-icon>
    SOPS
  </a>
  <a href="/profile" mat-button>
    <mat-icon>account_circle</mat-icon>
    Profile
  </a>
  <a href="/scans" mat-button>My products</a>
  <a href="/companies" mat-button>Companies</a>
  <a href="/companies" mat-button>Products</a>
  <span class="fill-remaining-space"></span>
  <app-auth></app-auth>
</mat-toolbar>

<div id="toolbar-placeholder"></div>

<div id="container">
  <header>
    <div id='blur'></div>
    <div id='blur-smoke'></div>
    <div id='header-title' class='mat-display-4'>
      $OP$
    </div>
    <div id='header-subtitle' class='mat-h3'>
      System Oznaczania Produktów Spożywczych
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
