<mat-toolbar id="toolbar" color="warn">
  <a href="" mat-button>
    <mat-icon>fastfood</mat-icon>
    SOPS
  </a>
  <a href="/profile" mat-button>
    <mat-icon>account_circle</mat-icon>
    Profile
  </a>
  <a href="/scans" mat-button>
    <mat-icon> category</mat-icon>
    My products</a
  >
  <a href="/companies" mat-button>
    <mat-icon> business</mat-icon>
    Companies</a
  >
  <a href="/products" mat-button>
    <mat-icon> layers</mat-icon>
    Products</a
  >
  <span class="fill-remaining-space"></span>
  <app-auth></app-auth>
</mat-toolbar>

<div id="toolbar-placeholder"></div>

<div id="container">
  <header>
    <div id="blur"></div>
    <div id="blur-smoke"></div>
    <div id="header-title" class="mat-display-4">$OP$</div>
    <div id="header-subtitle" class="mat-h3">
      System Oznaczania Produktów Spożywczych
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
