<div id="news-container">
    <mat-card class="news">
        <div class="news-header">
          <div class="news-header-title">Company joined us!</div>
          <div class="news-header-date">21.12.2018</div>
        </div>
        <div class="news-content">
          <div class="news-content-image">
            <mat-icon class="news-content-image-icon">input</mat-icon>
          </div>
          <div class="news-content-message">
              I'm trying to build a mat-list inside a responsive height container with Angular 4.4.6 and Angular Material 2.0.0-beta.12. How can I make the mat-list scrollable without overflowing parent container?
          </div>
        </div>
      </mat-card>

  <mat-card class="news">
      <div class="news-header">
        <div class="news-header-title">Company joined us!</div>
        <div class="news-header-date">21.12.2018</div>
      </div>
      <div class="news-content">
        <div class="news-content-image">
          <mat-icon class="news-content-image-icon">input</mat-icon>
        </div>
        <div class="news-content-message">
            I'm trying to build a mat-list inside a responsive height container with Angular 4.4.6 and Angular Material 2.0.0-beta.12. How can I make the mat-list scrollable without overflowing parent container?
        </div>
      </div>
    </mat-card>

    <mat-card class="news">
        <div class="news-header">
          <div class="news-header-title">Company joined us!</div>
          <div class="news-header-date">21.12.2018</div>
        </div>
        <div class="news-content">
          <div class="news-content-image">
            <mat-icon class="news-content-image-icon">input</mat-icon>
          </div>
          <div class="news-content-message">
              I'm trying to build a mat-list inside a responsive height container with Angular 4.4.6 and Angular Material 2.0.0-beta.12. How can I make the mat-list scrollable without overflowing parent container?
          </div>
        </div>
      </mat-card>

      <mat-card class="news">
          <div class="news-header">
            <div class="news-header-title">Company joined us!</div>
            <div class="news-header-date">21.12.2018</div>
          </div>
          <div class="news-content">
            <div class="news-content-image">
              <mat-icon class="news-content-image-icon">input</mat-icon>
            </div>
            <div class="news-content-message">
                I'm trying to build a mat-list inside a responsive height container with Angular 4.4.6 and Angular Material 2.0.0-beta.12. How can I make the mat-list scrollable without overflowing parent container?
            </div>
          </div>
        </mat-card>

        <mat-card class="news">
            <div class="news-header">
              <div class="news-header-title">Company joined us!</div>
              <div class="news-header-date">21.12.2018</div>
            </div>
            <div class="news-content">
              <div class="news-content-image">
                <mat-icon class="news-content-image-icon">input</mat-icon>
              </div>
              <div class="news-content-message">
                  I'm trying to build a mat-list inside a responsive height container with Angular 4.4.6 and Angular Material 2.0.0-beta.12. How can I make the mat-list scrollable without overflowing parent container?
              </div>
            </div>
          </mat-card>
</div>
