<mat-card id="news-container">
    <mat-card *ngFor="let n of news; index as i" class="news">
        <div class="news-header">
          <div class="news-header-title">{{ n.header }}</div>
          <div class="news-header-date">{{ getNormalDate(n.eventDate) }}</div>
        </div>
        <div class="news-content">
          <div class="news-content-image">
            <mat-icon class="news-content-image-icon">{{ n.iconName }}</mat-icon>
          </div>
          <div class="news-content-message">
              {{ n.content }}
          </div>
        </div>
  </mat-card>
</mat-card>
