:host
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#news-container
{
    flex-grow: 1;
	overflow-x: hidden;
	padding: 16px;
	/* border: 2px solid gray; */
	background: rgba(255, 255, 255, 0.95);
	margin: 0;
}

.news
{
	margin: 11px;
    border: 1px solid gray;
}

.news-header
{
	display: flex;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

.news-header-title
{
	flex: 4;
	font-size: 19px;
	/* font-weight: bold; */
}

.news-header-date
{
	flex: 1;
	text-align: right;
	font-size: 18px;
}

.news-content
{
	display: flex;
}

.news-content-image
{
	flex: 2;
}

.news-content-image-icon
{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 70px;
}

.news-content-message
{
	padding-top: 10px;
	flex: 9;
	text-align: justify;
}

::-webkit-scrollbar {
    display:none;
}
