img
{
	width:265px;
	height:265px;
}

mat-card.scan-details
{
	margin: 0;
	margin-left: 20px;
	/* margin-right: 20px; */
	margin-top: 20px;
	padding: 0;
}

.scan-container
{
	height: 100%;
}

h1
{
	margin: 0;
}

h3
{
	margin: 0;
	color: gray;
}

.scan-header
{
	height: 30%;

	margin-left: 20px;
	/* margin-right: 20px; */
}

.scan-details
{
	height: 70%;

	margin-left: 20px;
	/* margin-right: 20px; */

	font-size: 22px;
}

ul
{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.scan-details-left-list > ul
{
	border-right: 1px solid lightyellow;
}

li
{
	margin-top: 4px;

	list-style-type: none;
}

li:nth-child(odd)
{
	background: #f9979944;
}

.product-picture-container img {
  object-fit: contain;
}
