<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex="70%">
    <mat-form-field>
      <input
        type="text"
        [(ngModel)]="searchText"
        matInput
        placeholder="Search..."
      />
    </mat-form-field>
    <mat-expansion-panel
      *ngFor="let company of (companies | search: searchText); let i = inedx"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{ company.name }}</mat-panel-title>
        <mat-panel-description *ngIf="panelOpenState == false">
          Zobacz produkty firmy {{ company.name }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list>
        <mat-list-item *ngFor="let product of company.products">
          {{ product.name }} <span class="fill-remaining-space"></span>
          <button routerLink="panel/{{ product.id }}" mat-button>
            <h5>Details</h5>
          </button>
        </mat-list-item>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-card>
</div>
