:host
{
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card
{
	padding: 0;
	margin: 0;
}

mat-grid-list
{
	height: 600px;
	margin: 20px;
}

mat-grid-tile
{
	/* background: white; */
}

#event-list-title-tile
{
	background: rgb(244, 67, 54, 0.95);
	color: white;
	font-size: 20px;
	/* border-radius: 3%; */
}

#statistics-tile
{
	width: 100%;
	/* height: 99%; */
	height: 100%;
	padding: 0;
	/* border: 2px solid gray; */
}

#news-tile
{	
}

#page-description-tile
{
	width: 100%;
	height: 100%;
	background: rgb(244, 67, 54, 0.95);
	color: white;
}

#page-description-tile-text
{
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	font-size: 22px;
	text-align: center;
}
