mat-grid-list
{
	height: 600px;
	margin: 20px;
}

#event-list-title
{
	background: gray;
	color: white;
	font-size: 20px;
	border-radius: 3%;
}

mat-grid-tile-header
{
	opacity: 1;
	font-size: 20px;
	background: red;
}