<div fxLayout="row" fxLayoutAlign="center start">

  <mat-card fxFlex="33%">
    <mat-card-title>Add new product</mat-card-title>
    <app-form
      [model]="newProduct"
      [modelState]="modelState"
      [submit]="submitEmitter"
    ></app-form>
    <button type="button" mat-button (click)="onProductAddClick()">
      <mat-icon> add </mat-icon>
      Add
    </button>
  </mat-card>

  <mat-card fxFlex="33%">
      <mat-card-title>You are employed in: {{ company.name }}</mat-card-title>

      <mat-form-field style="width: 100%">
            <input
              type="text"
              [(ngModel)]="searchText"
              matInput
              placeholder="search product"
            />
      </mat-form-field>

      <mat-accordion>
          <mat-expansion-panel *ngFor="let product of (company.products | search: searchText)">

            <mat-expansion-panel-header>
              <mat-panel-title>
                  <button mat-button class="middle-panel-product-name"
                          (click)="onProductNameClick($event, product)">
                    {{ product.name }}
                  </button>
              </mat-panel-title>
              <mat-panel-description *ngIf="isUndefined(product.existingProducts?.length)">
                <button mat-button disabled 
                        style="cursor: pointer;">
                  count: {{ product.existingProducts.length }}
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div fxLayout="row" 
                 *ngFor="let existingProduct of product.existingProducts; let idx = index"
                 style="position: relative;">

              <div fxFlex="33%">#{{ idx }}</div>
              <div fxFlex="33%">{{ getNormalDate(existingProduct.creationDate) }}</div>
              <div class="existing-product-options" fxLayout="row"
                   [style.visibility]="isHovered ? 'visible' : 'hidden'">
                <div><mat-icon (click)="onShowQrClick(existingProduct)">all_out</mat-icon></div>
                <div><mat-icon (click)="onShowPdfClick(existingProduct)">note</mat-icon></div>
              </div>

            </div>

          </mat-expansion-panel>

      </mat-accordion>

  </mat-card>

  <div fxFlex="33%">
    <app-product-detail [product]="selectedProduct"></app-product-detail>
  </div>
</div>

<!-- (mouseenter)="mouseEnterOptions()"
(mouseleave)="mouseLeaveOptions()"> -->
<!-- [style.visibility]="isHovered ? 'visible' : 'hidden'"
(mouseenter)="mouseEnterOptions()" (mouseleave) ="mouseLeaveOptions()"
on-mouseover="mouseEnterOptions()"> -->

<!-- <mat-card fxFlex="33%">
    <mat-card-title>You are employed in: {{ company.name }}</mat-card-title>
    <mat-selection-list>
      <mat-form-field style="width: 100%">
        <input
          type="text"
          [(ngModel)]="searchText"
          matInput
          placeholder="search product"
        />
      </mat-form-field>
      <mat-list-item
        *ngFor="let product of (companyProducts | search: searchText)"
        [class.selected]="product === selectedProduct"
        (click)="onSelect(product)"
      >
        <button mat-button>{{ product.name }}</button>
        <a routerLink="product/detail/{{ product.id }}">
          <mat-icon> link </mat-icon>
        </a>
        <span class="fill-remaining-space"></span>
        <button mat-button title="Delete product" (click)="delete(product)">
          <mat-icon> delete </mat-icon>
        </button>
      </mat-list-item>
    </mat-selection-list>
  </mat-card> -->

  
<!--   <mat-card fxFlex="33%">
    <mat-card-title>You are employed in: {{ company.name }}</mat-card-title>
    <mat-selection-list>
      <mat-form-field style="width: 100%">
        <input
          type="text"
          [(ngModel)]="searchText"
          matInput
          placeholder="search product"
        />
      </mat-form-field>
      <mat-list-item
        *ngFor="let product of (companyProducts | search: searchText)"
        [class.selected]="product === selectedProduct"
        (click)="onSelect(product)"
      >
        <button mat-button>{{ product.name }}</button>
        <a routerLink="product/detail/{{ product.id }}">
          <mat-icon> link </mat-icon>
        </a>
        <span class="fill-remaining-space"></span>
        <button mat-button title="Delete product" (click)="delete(product)">
          <mat-icon> delete </mat-icon>
        </button>
      </mat-list-item>
    </mat-selection-list>
  </mat-card> -->
